body {
    background-color: #631D76;
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    height: 100px;
    width: 100px;
}

h1 {
    display: inline-block;
    position: relative;
    bottom: 25%;
}

.headernews {
    grid-area: header;
    text-align: center;
    color: #201A23;
}

.containernews {
    display: grid;
    grid-template-areas: 
    "header"
    "hlavniobsah";
}

.cojenoveho {
    background-color: #201A23;
    border-radius: 8px;
    box-shadow:0 0 10px black;
    margin: 10px;
    grid-area: hlavniobsah;
    display: grid;
    grid-template-areas: 
    "hlavniobsah"
    "second"
    "first";
}

h2 {
    color: #fbfbfb;
    font-size: 50px;
    text-align: center;
}

.second {
    background-color: #fbfbfb;
    grid-area: second;
    margin: 20px;
    border-radius: 5px;
    display: grid;
    grid-template-areas: 
    "icon1 headern1 infon1 infon1 infon1"
    "time1 time1 time1 time1 time1";
}

.newsicon2 {
    width: 200px;
    border-radius: 5px;
    margin: 10px;
    grid-area: icon1;
}

.newsheader2 {
    color: #9E4770;
    font-size: 20px;
    display: flex;
    grid-area: headern1;
    text-align: left;
    flex-direction: column;
    justify-content: center;
}

.newsinfo2 {
    display: flex;
    grid-area: infon1;
    flex-direction: column;
    justify-content: center;
}

.time2 {
    text-align: right;
    width: 100%;
    grid-area: time1;
}

.first  {
    background-color: #fbfbfb;
    grid-area: first;
    margin: 20px;
    border-radius: 5px;
    display: grid;
    grid-template-areas: 
    "icon1 headern1 infon1 infon1 infon1"
    "time1 time1 time1 time1 time1";
}

.newsicon1 {
    width: 200px;
    border-radius: 5px;
    margin: 10px;
    grid-area: icon1;
}

.newsheader1 {
    color: #9E4770;
    font-size: 20px;
    display: flex;
    grid-area: headern1;
    text-align: left;
    flex-direction: column;
    justify-content: center;
}

.newsinfo1 {
    display: flex;
    grid-area: infon1;
    flex-direction: column;
    justify-content: center;
}

.time1 {
    text-align: right;
    width: 100%;
    grid-area: time1;
}