body {
    background-color: #FFFCB6;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
}

.gridcontainerm {
    display: grid;
    grid-template-areas: 
    "headerm headerm headerm headerm"
    "mainm mainm mainm navm"
    "galerie galerie galerie galerie"
    "footerm footerm footerm footerm";
}

.headerm {
    grid-area: headerm;
    text-align: center;
    color: #32BDDE;
}

.mainm {
    color: #32BDDE;
    grid-area: mainm;
    text-align: center;
}

.navm {
    grid-area: navm;
    text-align: right;
}

.footerm {
    margin-top: 4px;
    text-align: left;
    background-color: #D6EFBE;
    grid-area: footerm;
}

.galerie {
    grid-area: galerie;
    text-align: center;
}

.gridcontainerl {
    display: grid;
    grid-template-areas: 
    "headerl headerl headerl headerl"
    "navl mainl mainl mainl";
}

.headerl {
    grid-area: headerl;
    text-align: center;
    color: #32BDDE;
}

.mainl {
    grid-area: mainl;
    text-align: center;
}

.navl {
    grid-area: navl;
    text-align: left;
}

.navtext {
    color: #32BDDE;
    display: inline-block;
}

.kolej {
    display: inline-block;
    height: 50px;
    width: 30%;
    position: relative;
    top: 22px;
}

.kolejl {
    display: inline-block;
    height: 50px;
    width: 30%;
    position: relative;
    top: 22px;
}

h1 {
  display: inline-block;
  position: relative;
  bottom: 25%;
}

.logo {
    height: 100px;
    width: 100px;
}

form {
    text-align: right;
    width: 50%;
    margin-left: 12.5%;
}

legend {
    text-align: left;
}

.logbutton {
    position: relative;
    left: 95px;
}

.logtext {
    color: red;
    font-weight: bold;
}

.iconredirect {
    margin: 10px;
    height: 50px;
    width: 50px;
    background-color: #B5E5C4;
    border-radius: 8px;
}

.galerieimg {
    margin: 20px;
    border: 2px solid #32BDDE;
    border-radius: 8px;
    width: 360px;
    height: 200px;
}

.galerietext {
    text-align: center;
    font-weight: bold;
    color: #32BDDE;
    font-size: 30px;
}

.gridz {
    display: grid;
    grid-template-areas: 
    "headerz headerz headerz headerz "
    "navz mainz mainz mainz";
}

.headz {
    grid-area: headerz;
    text-align: center;
    color: #32BDDE;
}

.navz {
    grid-area: navz;
}

.mainz {
    grid-area: mainz;
}

.zamestnanecjmeno {
    margin-left: 25%;
    color: #32BDDE;
}

.oops {
    border: 2px solid #B5E5C4;
    background-color: #9BDDC9;
    border-radius: 8px;
    z-index: 1;
    margin-left: 10%;
    margin-bottom: 5%;
    width: 80%;
    height: 80%;
    position: fixed;
    bottom: 0px;
    box-shadow: 0 0 150px black;
}

.aleneheading {
    text-align: center;
    font-weight: bold;
    color: red;
    font-size: 60px;
    margin-top: 200px;
}

.aleneodkaz {
    display: block;
    text-align: center;
    color: #FFFCB6;
    font-size: 25px;
}